:root {
  --primary-color: #2d303f;
  --secondary-color: #424ead;
  --white-text: #ffffff;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
p {
  margin: 5px 0px;
}
body {
  /* background-color: teal; */
  padding: 0;
  margin: 0;
}
.login-btn-primary {
  background-color: var(--primary-color);
  color: var(--white-text);
}

.login-btn-secondary {
  background-color: var(--secondary-color);
  color: var(--white-text);
}

.modal-active {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 8;
}

.form-control:focus {
  border-color: --primary-color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px var(--primary-color);
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 400px;
  height: 340px;
}
.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 400px;
  height: 450px;
}

.login-btn {
  position: absolute !important;
  display: inline !important;
  right: 6px;
  top: 10px;
  z-index: 10;
  border-radius: 0px 4px 4px 0px;
  width: 100px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.login-btn:hover {
  background: #575d7a;
  color: white;
}
.register-btn {
  position: absolute !important;
  display: inline !important;
  right: 106px;
  width: 100px;
  top: 10px;
  z-index: 10;
  border-radius: 4px 0px 0px 4px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}
.register-btn:hover {
  background: #5c66b5;
  color: white;
}

.btn:focus,
.btn:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.register-heading {
  background-color: var(--primary-color);
  color: white;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.form-outline {
  text-align: start !important;
}

.register-form-btn {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 0px !important;
}
.gm-style .gm-style-iw-c {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  border-radius: 4px;
}
/* ** Hide the "x" on the top right corner of locationDetail */
[aria-label='Close'] {
  display: none !important;
}
.gm-style .gm-style-iw-t::after {
  display: none;
}
/* [role='dialog'] {
  z-index: 150 !important;
  position: absolute !important;
} */
.gm-style-iw-t::after {
  /* background: rgba(255, 255, 255, 0.5) !important; */

  background: linear-gradient(
    45deg,
    rgba(45, 48, 63, 0.5) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
  /* backdrop-filter: blur(8px); */
}

/* * Gets rid of the weird space on the right corner */
.gm-style-iw-d {
  overflow: visible !important;
}
.gm-style-iw {
  padding: 8px !important;
}

.location-detail {
  width: 304px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  z-index: 25 !important;
}
.date-pickerAdjust {
  transform: translate(0, 150px);
}

.date-picker {
  width: 100%;
}
.DayPicker {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 12px 0;
  padding: 8px;
  background-color: white;
  border: #424ead 2px solid;
  border-radius: 4px;
}
.DayPicker-wrapper {
  padding: 0 !important;
  margin: 0 auto !important;
}
.DayPicker-Month {
  margin: 0 !important;
}
.label-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
  background: #282b34;
  color: white;
  /* margin-top: 12px; */
}

.title {
  width: 100%;
  text-align: center;
}

.title-main {
  width: 65%;
  font-size: 20px;
  text-align: center;
}

.visit-btn-box {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.visit-btn-today,
.visit-btn-past {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: #424ead;
  width: 49.5%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: #424ead 2px solid;
  border-radius: 0px 4px 4px 0px;
  font-weight: 600;
  font-size: 16px;
}

.visit-btn-today {
  border-radius: 4px 0px 0px 4px !important;
}
.btn-today-disabled {
  background-color: #282b3483;
  color: white;
  border: none;
}
.btn-today-disabled:hover {
  background-color: #282b3483 !important;
  color: white !important;
  border: none !important;
}

.visit-btn-past {
  border-radius: 0px 4px 4px 0px !important;
}

.visit-btn-today:hover,
.visit-btn-past:hover {
  background: #424ead;
  color: white;
  border: #424ead 2px solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.visit-btn-today:active,
.visit-btn-past:active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border: none;
}
.btn-add-past-visit {
  color: #424ead;
  width: 100%;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: #424ead 2px solid;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}
.btn-add-past-visit:hover {
  background: #424ead;
  color: white;
  border: #424ead 2px solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.recent-visits {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
}
.recent-visits-title {
  width: 100%;
  height: 30px;
}
.recent-visits-title h5 {
  line-height: 30px;
}

.recent-visits-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.recent-visits-entry {
  display: flex;
  align-content: center;
  justify-content: space-around;
  height: 25px;
}

.recent-visits-entry h6 {
  line-height: 25px;
}
.close-icon {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  cursor: pointer;
}
.close-icon div {
  border: 3px var(--secondary-color) solid;
  border-radius: 20px;
  width: 38px;
  height: 48px;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  margin-top: 0;
  cursor: pointer;
}

.close-icon p {
  margin: 0px;
  padding: 0;
  font-size: 10px;
  line-height: 10px;
}

.highscore-icon {
  position: absolute;
  color: white;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  transform: translate(0%, -50%);
  border-radius: 0px 5px 5px 0px;
  top: 50%;
  z-index: 1;
  background-color: var(--secondary-color);
}
.highscore-card {
  position: absolute;
  min-height: 50px;
  width: 250px;
  transform: translate(0%, -50%);
  top: 50%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: start;
  padding: 15px;
}
.highscore-title {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  background-color: var(--secondary-color);
  color: white;
  height: 45px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 8px;
}
.highscore-title i {
  font-size: 25px;
  /* padding-right: 10px; */

  width: 40%;
  line-height: 30px;
}
.highscore-title h5 {
  width: 100%;
  line-height: 30px;
}
.highscore-label {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 30px;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}
.leaderboard-main {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.leaderboard-main-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 30px;
  color: white;
  padding: 0px;
  background-color: #9ca1b8;
}

.leaderboard-main-item:nth-child(2n) {
  background-color: #575d7a;
}
.leaderboard-main-item h6 {
  line-height: 30px;
  text-align: center;
}

.leaderboard-main-item h6:first-child {
  width: 18%;
  text-align: center;
}
.leaderboard-main-item h6:last-child {
  width: 18%;
  text-align: center;
}
.error-text {
  height: 12px;
  color: red;
  line-height: 12px;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  text-align: end;
}
.error-text-main {
  height: 20px;
  color: red;
  line-height: 18px;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.dashboard {
  position: absolute;
  width: 520px;
  height: 820px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 4px;
  display: flex;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px;
  justify-content: space-between;
}
.dashboard-title {
  width: 100%;
  min-height: 40px;
  border: var(--secondary-color) 2px solid;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  background-color: var(--secondary-color);
  padding: 4px;
  top: 20px;
}
.dashboard-title-item {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  font-size: 20px;
}
.dashboard-title-item h5 {
  line-height: 20px;
  margin: 0px;
  padding: 0px;
}
.title-2 {
  display: flex;
  justify-content: end;
}
.dashboard-small {
  background-color: white;
  width: 48%;
  height: 150px;
  margin: 7px 0px;
}

.close-icon-mobile {
  width: 100%;
  display: none;
  align-content: center;
  justify-content: space-around;
}
.close-icon-mobile div {
  color: var(--secondary-color);
  width: 38px;
  height: 48px;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  margin-top: 0;
}

.close-icon-mobile p {
  margin: 0px;
  padding: 0;
  font-size: 10px;
  line-height: 10px;
}

@media screen and (max-width: 360px) {
  .register,
  .login {
    width: 80%;
    z-index: 15;
  }

  .dashboard {
    width: 300px;
    height: 80% !important;
    overflow: auto;
    z-index: 20;
    padding-top: 0px;
    background-color: white;
  }
  .dashboard-coverup {
    width: 100%;
    height: 20px;
    background-color: white;
  }
  .dashboard-small {
    width: 100%;
  }
  .dashboard-med {
    width: 100% !important;
  }
  .dashboard-title {
    border: none !important;
    min-height: 80px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
  }
  .dashboard-title-item {
    width: 100% !important ;
    height: 40px !important;
    text-align: left !important;
  }

  .title-2 {
    justify-content: start;
  }
  .location-detail {
    width: 100%;
  }
  .gm-style-iw,
  .gm-style-iw-c {
    max-width: 300px !important;
  }
  .close-icon {
    /* display: none; */
  }
  .close-icon-mobile {
    display: flex;
    position: sticky;
    width: 120%;
    bottom: -1px;
    /* background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px); */
    background-color: white;
    /* //border: 3px var(--secondary-color) solid; */
    cursor: pointer;
  }
  .close-icon-mobile-coverup {
    display: flex;
    position: sticky;
    width: 120%;
    height: 20px;
    bottom: -20px;
    /* background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px); */
    background-color: white;
  }
  .highscore-card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .highscore-icon {
    transform: translate(-50%, -100%);
    border-radius: 5px 5px 5px 5px;
    left: 50%;
    top: 98% !important;
  }
}

.dashboard-large {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  border: var(--secondary-color) 2px solid;
  margin: 7px 0px;
}
.dashboard-med {
  width: 48%;
  height: 250px;
  border: var(--secondary-color) 2px solid;
  margin: 7px 0px 0px 0px;
}
.dashboard-med-left {
  overflow-y: scroll;
  background-color: var(--primary-color);
}
.dashboard-med-right {
  overflow-y: scroll;
  background-color: var(--secondary-color);
}

.chartHolder {
  background-color: white;
  width: 100%;
  padding: 10px;
  height: 100%;
}

/* .chart {
} */

.my-recent-visits {
  width: 100%;
  height: 100%;

  color: white;

  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 4px;
}
.my-recent-visits-title {
  padding: 0px;
  margin: 0px;
  text-align: center;
  width: 100%;
  border-bottom: 2px white solid;
  height: 25px;
  margin-bottom: 5px;
}

.my-recent-visits-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.other-recent-visits-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.other-recent-visits-entry p {
  width: 80%;
}

.other-recent-visits-entry,
.my-recent-visits-entry {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.other-recent-visits-entry:nth-child(odd) {
  background-color: #5c66b5;
}
.other-recent-visits-entry p:first-of-type {
  padding-left: 5px;
  text-align: start;
  font-size: 10px;
  width: 100% !important;
}
.other-recent-visits-entry p:nth-of-type(2) {
  font-size: 10px;
  /* width: 30%; */
  text-align: center;
 
}
.other-recent-visits-entry p:nth-of-type(3) {
  font-size: 12px;
  text-align: center;

}

.my-recent-visits-entry:nth-child(odd) {
  background-color: #494950;
}

.my-recent-visits-entry p:first-of-type {
  text-align: start;
  font-size: 10px;
  width: 70%;
}

.my-recent-visits-entry p:nth-of-type(2) {
  font-size: 10px;
  width: 30%;
  text-align: center;
  padding: 5px;
}

.my-recent-visits-entry p:nth-of-type(3) {
  width: 20%;
  font-size: 12px;
  text-align: start;
  padding: 5px;
}

.highscore-title {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  background-color: var(--secondary-color);
  color: white;
  height: 45px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 8px;
}

.quickInfo,
.leaderboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid var(--secondary-color) 2px;
  padding: 8px;
}

.bi-award-fill,
.leaderboard-icon {
  color: var(--secondary-color) !important;
  font-size: 24px;
}
.dashboard-label-container {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding-bottom: 4px;
  border-bottom: solid var(--secondary-color) 1px;
}

.dashboard-label-container h5 {
  display: block;
  position: relative;
  top: 4px;
  line-height: 24px;
  margin: 0%;
  padding: 0%;
}

.quick-info-value {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  position: relative;
  top: 4px;
  flex-wrap: wrap;
}
.quick-info-value h4 {
  margin: 0px;
  width: 33%;
  text-align: center;
}
.quick-info-value h4:first-child {
  text-align: end;
}
.quick-info-value h4:nth-child(3) {
  text-align: start;
}

.quick-info-value h5 {
  width: 100%;
  text-align: center;
  font-size: medium;
}
.quick-info-value p {
  width: 100%;
  text-align: center;
  font-size: small;
}
.leaderboard-container {
  width: 100%;
  padding: 0px 8px;
  display: flex;
  align-items: center;
}
.leaderboard-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 10px;
  position: relative;
  top: 4px;
}
.leaderboard-value p {
  font-size: 16px;
  font-weight: 600;
  margin: 0%;
  padding: 8px;
}

.test-name {
  color: green !important;
  background-color: blue !important;
}

.location-arrow {
  position: absolute;
  bottom: -8px;
  margin: 0 auto;
  width: 15px;
  height: 15px;

  transform: translate(-50%, 0) rotate(-45deg);
  left: 50%;
  background: linear-gradient(
    45deg,
    rgba(45, 48, 63, 0.5) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
}

[role='dialog'] {
  overflow: visible !important;
}
