body {
  background-color: teal;
  padding: 0;
  margin: 0;
}

.login{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  width: 400px;
  height: 340px;
}
.register{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  width: 400px;
  height: 400px;
}

.login-btn{
  position: absolute !important;
  display: inline !important;
  right: 0;
  top: 0px;
 z-index: 10;
 border-radius: 0px;
  width:100px;
}
.register-btn{
  position: absolute !important;
  display: inline !important;
  right: 100px;
  width:100px;
  top: 0px;
  z-index: 10;
 border-radius: 0px;
}
.btn:focus,
.btn:active {
  box-shadow: none !important;
}

.location-detail{
  width:200px;
  height:200px;
}

.highscore-icon{
  position: absolute;
  height:100px;
  font-size: 50px;
  transform: translate(0%,-50%);
  top: 50%;
  z-index: 10;
}
.highscore-card{
  position: absolute;
  height:300px;
  width:300px;
  transform: translate(0%,-50%);
  top: 50%;
  z-index: 10;
}
