<html>
  <head>
    <style>

    </style>
  </head>
  <body>
    <p>Hi ,  </p>
    <p>Use the link below to reset your pw</p>
    <hr></hr>
    <a href="{{rootURL}}resetpw/{{token}}">RESET PASSWORD HERE</a>
  </body>
</html>